# Timeout in seconds before the default entry boots (0 for no timeout)
timeout: 5

# Default entry to boot
default_entry: 0

# Kernel entry
/GladiOS
    protocol: limine
    kernel_path: boot():/boot/GladiOS/Kernel.elf
